body {
    background: rgb(102, 153, 204);
    background: linear-gradient(to right, rgba(102, 153, 204, 1) 0%, rgba(159, 191, 223, 1) 100%);
}

h1,
h2,
h3 {
    color: white;
    text-align: center;
    text-decoration: underline;
}

h3 {
    text-align: left;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul>li, ol>li {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding: 10px;
    color: white;
}

.recipes>li {
    text-align: center;
}

a {
    color: white;
}

.recipe-link {
    margin: 20px;
    background-color: rgb(114, 25, 90);
}

.recipes>li:hover {
    background-color: aqua;
}
